<ion-view title="Conference Venue">
  <ion-content class="has-header">
	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>SOCHUM</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Physics Lab 1
			</p>
		  </div>
	 </div>


	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>SPECPOL</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Physics Lab 2
			</p>
		  </div>
	 </div>


	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>UNDP</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Physics Lab 3
			</p>
		  </div>
	 </div>


	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>PNA</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Physics Lab 4
			</p>
		  </div>
	 </div>


	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>HSC</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Room 123
			</p>
		  </div>
	 </div>


	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>IAEA</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Room 121
			</p>
		  </div>
	 </div>


	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>UNHRC</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Art Room
			</p>
		  </div>
	 </div>


	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>UNSC</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Room 116 A/B
			</p>
		  </div>
	 </div>


	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>DISEC</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Auditorium
			</p>
		  </div>
	 </div>

	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>Delegate Lounge</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Room 104
			</p>
		  </div>
	 </div>


	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>Female Staff Advisors</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Ladies Staff Room
			</p>
		  </div>
	 </div>


	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>Male Staff Advisors</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Male Staff Room
			</p>
		  </div>
	 </div>
  </ion-content>
</ion-view>