<ion-view title="ACMUN VI">
  <ion-content class="has-header home">
  		<div class="logo">
  			<img class="acmun" src="../img/acmun.png">
  		</div>
  		<h3>Welcome</h3>

		<div class="card">
		  <div class="item item-text-wrap justify">
		  	<p>
				Here we are, at the sixth edition of the Aitchison College Model United Nations Conference, “ACMUN VI”. We have tried to make it more beneficial and have assimilated a distinct set of committees for an improved level and standard of intellectual debate. The event is spread over the course of 4 days, with committee sessions and much more. Do not miss your chance to become a part of the ACMUN VI team.
				<br>
				<br>
				Looking forward to meeting you all in September!
				<br>
			</p>
		  </div>
		  <div class="item item-divider">
			<p>	ACMUN VI Team</p>
		  </div>
		</div>
		  		

  </ion-content>
</ion-view>
