<ion-view title="UNSC">
  <ion-content class="has-header">
    <ion-list>
      <a class="item item-avatar">
	      <img src="img/Ahmed Tajammul.jpg">
	      <h2>Ahmed Tajammul</h2>
	      <p>Chair UNSC</p>
	  </a>
	  </ion-list>
	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>	Topic Area A:</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Let me start by welcoming you all to the 6th Annual Aitchison College Model United Nations, 2014. My name is Muhammad Ahmed Tajammul and alongside being the Chair of the United Nations Security Council, I am also President ACMUN this year around. With this responsibility I have been entitled to, I hope I perform my duties both to the conference as a whole and to this committee to the best of my ability. 
				<br>
				<br>
				I have directed and participated in numerous MUN conferences, ranging from in Pakistan, to India, to China, having won Best Delegate at Harvard MUN India, and being Assistant Director at Harvard MUN China, so let me assure you, you are in good hands. I can be demanding as a chair, quality of debate is a must this year more than ever, as I can proudly state that ACMUN stands to be one of the best student run international school level MUN conference held in all of Pakistan. So, by the time you've read this note, I expect you to open a few more tabs for just that little bit of extra research, because you surely are going to need it. 
				<br>
				<br>
				Winging it is not going to work. I have been told I look really serious, and I talk really seriously, but let me assure you I will graciously reward all those who provide the entertainment; an MUN is not supposed to be just a competition, it's an experience. So the entertainer of the committee will be generously treated to the famous hot dog patties and pizzas of the Deans Canteen. As for myself, I shall try my best to lighten up; I'll start learning the lyrics of funny songs starting now.  
				P.S. brownie points to all supporters of the German football team 
				<br>
				<br>
				Looking forward to seeing you all at the conference InshaAllah. Thank you!
			</p>
		  </div>
	 </div>
  </ion-content>
</ion-view>