<ion-view title="FICC">
  <ion-content class="has-header">
    <ion-list>
      <a class="item item-avatar">
	      <img src="img/Asad Zafar.jpg">
	      <h2>Asad Zafar</h2>
	      <p>Chair FICC</p>
	  </a>
	  <a class="item item-avatar">
	      <img src="img/Tabraiz Lodhi.jpg">
	      <h2>Tabraiz Lodhi</h2>
	      <p>Co-Chair FICC</p>
	  </a>
	 </ion-list>
	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>	Topic Area:</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Trial of Bashar Al Assad.
			</p>
		  </div>
	 </div>
	 <button ng-click="GotoLink('http://www.acmun.pk/guides/FICC.pdf')" class="button button-outline button-full button-positive">
	    Get Study Guide
	 </button>
  </ion-content>
</ion-view>