<ion-view title="PNA">
  <ion-content class="has-header">
    <ion-list>
      <a class="item item-avatar">
	      <img src="img/Numair Liaqat.jpg">
	      <h2>Numair Liaqat</h2>
	      <p>Chair PNA</p>
	  </a>
	  <a class="item item-avatar">
	      <img src="img/Sahibzada Ahmad.jpg">
	      <h2>Sahibzada Ahmad</h2>
	      <p>Co-Chair PNA</p>
	  </a>
	 </ion-list>
	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>	Topic Area A:</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Energy Crisis: The Future of Pakistan.
			</p>
		  </div>
		  <div class="item item-divider">
			<p>	Topic Area B:</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Redefining the foreign policy.
			</p>
		  </div>
	 </div>
	 <button ng-click="GotoLink('http://www.acmun.pk/guides/PNA.pdf')" class="button button-outline button-full button-positive">
	    Get Study Guide
	 </button>
  </ion-content>
</ion-view>