<ion-view title="SOCHUM">
  <ion-content class="has-header">
    <ion-list>
      <a class="item item-avatar">
	      <img src="img/Deyar Pasha.jpg">
	      <h2>Deyar Pasha</h2>
	      <p>Chair SOCHUM</p>
	  </a>
	  <a class="item item-avatar">
	      <img src="img/Zulfiqar Mannan.jpg">
	      <h2>Zulfiqar Mannan</h2>
	      <p>Co-Chair SOCHUM</p>
	  </a>
	 </ion-list>
	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>	Topic Area A:</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Designer Babies
			</p>
		  </div>
	 </div>
	 <button ng-click="GotoLink('http://www.acmun.pk/guides/SOCHUM.pdf')" class="button button-outline button-full button-positive">
	    Get Study Guide
	 </button>
  </ion-content>
</ion-view>