<ion-view title="SPECPOL">
  <ion-content class="has-header">
    <ion-list>
      <a class="item item-avatar">
	      <img src="img/Bilal Shafi.jpg">
	      <h2>Bilal Shafi</h2>
	      <p>Chair SPECPOL</p>
	  </a>
	 </ion-list>
	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>	Topic Area A:</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				 The legitimacy of the Russian claim to and occupation of Crimea.
			</p>
		  </div>
	 	  <div class="item item-divider">
			<p>	Topic Area B:</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				The application and implications of Military Intervention in the United Nations.
			</p>
		  </div>
	 </div>
	 <button ng-click="GotoLink('http://www.acmun.pk/guides/SPECPOL.pdf')" class="button button-outline button-full button-positive">
	    Get Study Guide
	 </button>
  </ion-content>
</ion-view>