<ion-view title="UNDP">
  <ion-content class="has-header">
    <ion-list>
      <a class="item item-avatar">
	      <img src="img/Mustafa Amjad.jpg">
	      <h2>Mustafa Amjad</h2>
	      <p>Chair UNDP</p>
	  </a>
	 </ion-list>
	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>	Topic Area A:</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Evaluation of Millennium Development Goals and accelerating progress on them in the developing world.
			</p>
		  </div>
	 	  <div class="item item-divider">
			<p>	Topic Area B:</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Development of Afghanistan post US withdrawal 2014.
			</p>
		  </div>
	 </div>
	 <button ng-click="GotoLink('http://www.acmun.pk/guides/UNDP.pdf')" class="button button-outline button-full button-positive">
	    Get Study Guide
	 </button>
  </ion-content>
</ion-view>