<ion-view title="UNSC">
  <ion-content class="has-header">
    <ion-list>
      <a class="item item-avatar">
	      <img src="img/Ahmed Tajammul.jpg">
	      <h2>Ahmed Tajammul</h2>
	      <p>Chair UNSC</p>
	  </a>
	 </ion-list>
	 <a class="item item-text-wrap justify">
	    	<p>⎔ DUAL DELEGATION</p>
	 </a>
	 <div class="list list-inset">
	 	  <div class="item item-divider">
			<p>	Topic Area A:</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Crisis in the Central African Republic.
			</p>
		  </div>
	 	  <div class="item item-divider">
			<p>	Topic Area B:</p>
		  </div>
		  <div class="item item-text-wrap justify">
		  	<p>
				Crisis in South Sudan.
			</p>
		  </div>
	 </div>
	 <button ng-click="GotoLink('http://www.acmun.pk/guides/UNSC.pdf')" class="button button-outline button-full button-positive">
	    Get Study Guide
	 </button>
  </ion-content>
</ion-view>